table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    width:50%;
  }
  th {
    background-color: #73a4c5;

  }

  td {
    background-color: #73a4c5;
    width:50%;
  }

  img {
    width: 200px;
  }