table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    width:50%;
  }
  th {
    background-color: #73a4c5;
  }

  td {
    background-color: #73a4c5;
    width:30%;
  }

  thead{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  img {
    width: 600px;
    margin-left: 200px;
  }